*{
	padding:0;
	margin:0;
}
#container,.sections,.section{
	height: 100%;
}
html,body{
	height: 100%;
	overflow: hidden;
}
/*.left{
	float:left;
	width:25%;
}*/
#section0,
#section1,
#section2,
#section3{
	background-position: 50% 50%;
	text-align:center;
	color:white;
	background-color: #000;
	background-size: cover;
}
#section0{
	background-image: url('../images/1.jpg');
}