@charset "utf-8";To forget sb is pretty easy.Just don't see him/her,don't be a contemptible wretch.
/* css reset */
html, body, div, span,  object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,small, strike, strong, sub, sup, tt, var,
b,  i,  dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td 
{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul,li {list-style: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
img{border: none;}
a{text-decoration: none; color: #000;}
/*ltt*/
body{
	margin:0;padding: 0;
}
.top{
	width: 100%;
	height: 100px;
}
.top_nav li a{
     float:left;
     font-size: 25px;
     font-family: _GB2312 KaiTi_GB2312;
}
.top_nav li{
     height: 75px;
     line-height: 75px;
     width: 150px;
     background-color: #fe9f23;
     float:left;
}
.beji1{
	width: 25%;
	height: 700px;
	background-color: yellow;
	float:left;

}
.beji2{
	width: 25%;
	height: 700px;
	background-color: #f73ce8;
	float:left;
}
.beji3{
	width: 25%;
	height: 700px;
	background-color: #30f039;
	float:right;
}
.beji4{
	width: 25%;
	height: 700px;
	background-color: #30e5f0;
	float:right;
}
.spin{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	
	
}
.tubiao{
	float:right;
}
.yingwen{
	
	font-family: _GB2312 KaiTi_GB2312;
	font-size: 100px;

}
.jianying{
	margin:100px auto;
	text-align: center;

}


