.toolbar{
	position: fixed;
	left:50%;
	bottom: 5px;
	margin-left:-26px;
}
.toolbar-item{
	display: block;
	width: 52px;
	height: 52px;
	background-image:url(../images/toolbar.png);
	background-repeat: no-repeat;
	margin-top:1px;
}
.toolbar-item-weixin{
	background-position: 0 -798px;
	&:hover{
		background-position:0 -860px;
	}
}
.toolbar-layer{

}
.toolbar-item-feedback{
	background-position: 0 -426px;
	&:hover{
		background-position:0 -488px;
	}
}
.toolbar-item-app{
	background-position: 0 -550px;
	&:hover{
		background-position:0 -612px;
	}
}
.toolbar-item-top{
	background-position: 0 -674px;
	&:hover{
		background-position:0 -736px;
	}
}